<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input
        type="email"
        class="form-control email"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div
      *ngIf="!getPassword()?.valid && getPassword()?.touched"
      class="alert alert-danger"
    >
      Password is required!
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" />
      <label class="form-check-label" for="exampleCheck1"> Remember me </label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registrationForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
